header {
  height: 50px;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  background: #f9f9f9; }

body {
  font-size: 1.5em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  color: #333; }

#map-canvas {
  height: 100%; }

#body {
  margin: 4px 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto; }
  #body .title {
    font-weight: bold;
    margin: 10px 20px;
    font-size: 18px; }
  #body ul.inputForm {
    padding: 0;
    margin: 0 20px;
    font-size: 1em; }
    #body ul.inputForm li {
      list-style: none;
      margin: 0 0 5px 0; }
    #body ul.inputForm label {
      text-align: left;
      margin: 0; }
    #body ul.inputForm li.buttonList {
      margin-top: 10px; }
  #body .alert {
    margin: 20px; }
  #body .backButton {
    position: relative;
    left: 35%;
    text-shadow: none;
    color: white; }
  #body input, #body textarea {
    margin: 0; }

.ui-content {
  padding: 0 10px !important; }

ul.navigation {
  margin: 0;
  padding: 0; }
  ul.navigation li {
    float: left;
    list-style: none;
    border-right: 1px solid #ccc;
    height: 50px;
    background: -webkit-gradient(#999999, white);
    background: -webkit-linear-gradient(#999999, white);
    background: -moz-linear-gradient(#999999, white);
    backgournd: -ms-linear-gradient(#999999, white);
    background: -o-linear-gradient(#999999, white);
    background: linear-gradient(#999999, white);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#999999, endColorstr=white)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#999999, endColorstr=white);
    padding: 0;
    color: #333; }
    ul.navigation li a {
      color: inherit !important;
      text-shadow: none !important;
      height: 100% !important;
      width: 100% !important;
      display: block;
      padding: 10px; }
  ul.navigation li:hover {
    background: -webkit-gradient(#2489ce, #305f7f);
    background: -webkit-linear-gradient(#2489ce, #305f7f);
    background: -moz-linear-gradient(#2489ce, #305f7f);
    backgournd: -ms-linear-gradient(#2489ce, #305f7f);
    background: -o-linear-gradient(#2489ce, #305f7f);
    background: linear-gradient(#2489ce, #305f7f);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2489ce, endColorstr=#305f7f)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2489ce, endColorstr=#305f7f);
    color: white; }
  ul.navigation li.active {
    background: -webkit-gradient(#2489ce, #305f7f);
    background: -webkit-linear-gradient(#2489ce, #305f7f);
    background: -moz-linear-gradient(#2489ce, #305f7f);
    backgournd: -ms-linear-gradient(#2489ce, #305f7f);
    background: -o-linear-gradient(#2489ce, #305f7f);
    background: linear-gradient(#2489ce, #305f7f);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2489ce, endColorstr=#305f7f)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2489ce, endColorstr=#305f7f);
    color: white; }

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  height: 0;
  background: #f9f9f9; }

