@{
    ViewBag.Title = "About";
}
<ul class="navigation">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Add", "AddNew", "Home")</li>
    <li class="active">@Html.ActionLink("About", "About", "Home")</li>
</ul>
<div id="body">
    <div class="title">ABOUT US</div>
    <div class="alert alert-warning">
        <p>Discovering a great garage sale that happened last week- that's no fun.</p>

        <p>Discovering a great garage sale that's happening right now around the corner- that's a lot of fun.</p>

        <p>We're a couple of hackers and hustlers. We made this website in 24 hours at SheHacks Melbourne. We want to hear what you think.</p>

        <p>If you have suggestions, edits to your garage sale post, funny cat videos, virtual high fives please email <a href="mailto:hellogaragesalemap@gmail.com">hellogaragesalemap@gmail.com</a></p>
    </div>
</div>